<nav class="navbar navbar-light fixed" style="background-color: #73C8A9">
  <%= link_to (icon('fas', 'feather', 'Chronicle')), root_path, :class => "navbar-brand"   %>

  <div class="navbar-nav d-flex flex-row">
    <% if current_user %>
      <%= link_to "Hello, #{current_user.first_name}", "#", :class => "nav-item nav-link mr-3" %>
      <%= link_to "Log out", destroy_user_session_path , method: :delete, :class => "nav-item nav-link mr-3" %>

    <% else %>
      <%= link_to "Login", login_path, :class => "nav-item nav-link mr-3" %>
      <%= link_to "Sign up", new_user_registration_path, :class => "nav-item nav-link mr-3" %>

  <% end %>
  </div>
</nav>
