<div class="card post mb-3" id=<%= "post-#{post.id}" %>>
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= image_tag("chronicle_home_transparent.png", :class => "img-fluid") %>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <%= content_tag(:div, post.author.fullname)%>
          <%= content_tag(:div, post.created_at.to_formatted_s(:long))%>
        </div>
      </div>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <%= post.content %>
    </div>
    <div class="list-group-item d-flex justify-content-around">
      <%= link_to icon('fas','thumbs-up', 'Like'), post_likes_path(post), :class => "btn btn-primary btn-sm", :method => :post %>
      <%= link_to icon('fas','comment', 'Comment'), "#", :class => "btn btn-primary btn-sm" %>
    </div>
    <% unless post.likes.count <= 0 %>
    <div class="list-group-item">
      <%= icon("fas","thumbs-up", displayLikers(post)) %>
    </div>
    <% end %>
    <div class="list-group-item">
      <%= form_for :comment, :url => post_comments_path(post) do |f| %>
        <%= f.text_field :content %>
        <%= f.submit "Comment", :class => "btn btn-primary btn-sm"  %>
      <% end %>
    </div>
    <% unless post.comments.count <= 0 %>
    <div class="list-group-item" style="height: 140px; overflow-y: scroll">
      <%= render partial: "comments/comment", collection: post.comments  %>
    </div>
    <% end %>
  </div>

  <div class="card-footer">

  </div>
</div>